.feature-item{
	position: relative;
	margin-bottom: 2.5rem;
	
		@mixin atSmall{
			padding-left: 95px;
						}

	&__icon{
		display: block;
		margin: 0 auto;
		
			@mixin atSmall{
				position: absolute;
				left: 0;
	}

	}
	&__title{
		font-weight: 300;
		font-size: 1.6rem;
		margin-bottom: .8rem;
		text-align: center;
		margin-top: .7em;
			
			@mixin atSmall{
				font-size: 1.875rem;
				text-align: left;
				margin-top: 1em;
			}
	}
}