.row{

	overflow: hidden;
	@mixin atClearfix;


&--negative-gutter{
	margin-right: -65px;
}
&--gutters-small{
	margin-right: -45px;
				}
	&--gutters > div{
		padding-right: 0;
		@mixin atMedium{
		padding-right: 65px;
		}

	}
	&--gutters-large > div{
		margin-right: -100;
		@mixin atMedium{
		padding-right: 100px;
		}
	}
	&--t-padding{
		padding-top: 80px;
	}
	&--gutters-small> div{
		margin-right: 45px;

	}
&__b-margin-until-medium{
	margin-bottom: 1rem;
}
	@mixin atMedium{

		&__medium-4{
		width: 33.33%;
		float:left;

		}
		&__medium-4-larger{
			width:37%;		
		}

		&__medium-6{
			float: left;
			width: 50%;
		}
		&__b-margin-until-medium{
			margin-bottom: 0;
		}

	&__medium-8{
		width: 66.66%;
		float:left;
		
		}
	&__medium-8-smaller{
			width: 63%;
		}		
	}

	/* flesbox */
	&--equal-hieght-at-medium{
		@mixin atMedium{
			display: flex;
		}
		&>div{
			float: none;
			display: flex;
		}
	}


}